In [2]:
#print
#operators
#string and it's operations

In [1]:
print("hi") #this line prints output

hi

In [3]:
#data types (comment #)

string = " sdd123@#"

integer = 6

my_float = 8.8

boolean = True or False

In [4]:
print('hi')

hi

In [5]:
#variables letters or underscore _ but you cannot start it with digits
num1 = 3
num2 = 8
print(num1+num2)

11

In [6]:
name = input("enter name: ")
print("HI my name is ", name)

enter name: Ashok
HI my name is  Ashok

In [7]:
age = int(input("enter age  "))
print(age)

enter age  21
21

In [8]:
age = float(input("enter age  "))
print(age)

enter age  21.5
21.5

In [9]:
#type conversion
x = 9
print(x)
print(str(x))

9
9

In [10]:
x = 9
print(x)
print(str(x))

9
9

In [11]:
#operators
#arithmetic operators + - * / // % ** ++ --
a = 9
b = 8
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #floor operator
print(a%b) #modulus operator
print(a**b)

a = a+1 #a+=1
print(a)

a = a-1 #a-=1
print(a)

17
1
72
1.125
1
1
43046721
10
9

In [13]:
# comparison operator > < >= <= == != #homework
a=9
b=8
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [14]:
#logical operator and or not

f = True
l = False

print(f or l)

True

In [15]:
f = True
l = False

print(f and l)

False

In [16]:
c = True
print(not c)

False

In [17]:
#strings
name = "steve"
print(name[0])
print(name[-1])
# [start:stop:step]
print(name[0:3:2])

s
e
se

In [18]:
name1 = "josly"
print(name1[::-1])

ylsoj

In [19]:
#operations on string
name1 = "josly"
print(name1.capitalize())
print(name1.upper())
print(name1.lower())
print(name1.isupper())
print(name1.islower())
print(name1.isdigit())
print(name1.count("j"))

#vp join and split

x = "new".join(name1)
print(x)

#split
name = "n e,w"
sp = name.split(" ")
print(sp)

Josly
JOSLY
josly
False
True
False
1
jnewonewsnewlnewy
['n', 'e,w']

In [20]:
print("*\n*")

*
*

In [22]:
#conditional statements

'''
if
elif (elseif)
else
'''

'\nif\nelif (elseif)\nelse\n'

In [23]:
x = 9
y = 8
if x>y:
  print("correct")
else:
  print("incorrect")

correct

In [24]:
food =input("enter food: ").lower()
if food=="pizza":
  print("available")
elif food == "burger":
  print("available")
elif food == "french fries":
  print("available")
else:
  print("not available")

enter food: pizza
available

In [25]:
# and or not
# create a even or odd program
num=int(input("Enter a number : "))
if num%2==0:
  print(num," is an even number")
else:
  print(num," is an odd number")

Enter a number : 21
21  is an odd number

In [26]:
#nested if

x = 9
y = 10
z= 8
if x>y:
  if x>z:
    print("x is the greatest ")
elif y>x:
  if y>z:
    print("y is the greatest")
else:
  print("all are equal")

y is the greatest

In [30]:
food_categry=input("Enter what type of food you want veg or non-veg : ")

if food_categry=="veg":

  food=input("Enter food : ").lower()

  if food=="veg rice":
    print("Available")
  elif food=="curd rice":
    print("Available")
  elif food=="tomato rice":
    print("Available")
  else:
    print("Not Available")

elif food_categry=="non-veg":

  food=input("Enter your food : ").lower()

  if food=="chicken fry":
    print("Available")
  elif food=="fish fry":
    print("Available")
  elif food=="mutton chops":
    print("Available")
  else:
    print("Not Available")

else:
  print("Please enter valid category")

Enter what type of food you want veg or non-veg : veg
Enter food : curd rice
Available